html {
	margin: 0;
	padding: 0;
}
body {
	background-color: #DCDCDC;
	overflow: scroll;
	margin: 0;
	padding: 0;
}



.banner {
	color: #000080;
	background-color: #7A8BA3;
}

.navBox {
	
	color: #000080;
}

.socalText {
	color: #000080;
}

.pictures {
	border-radius: 5px;
}

.reward {
	color: red;
}

.membership {
	
}


.bubble {
	background-color: #C0C0C0;
	border-radius: 5px;
	color: #000080;
}

.rights {
	background-color: #7A8BA3;
	color: white;
}

.navbar {
	margin-bottom: 0;
}

