html {
	margin: 0;
	padding: 0;
}
body {
	background-color: #DCDCDC;
	overflow: scroll;
	margin: 0;
	padding: 0;
	height: 100%;
	z-index: 1;
}



.banner {
	color: #000080;
	background-color: #7A8BA3;
	font-family: 'Vast Shadow';
	margin-bottom: 10px;
}

.navBox {
	font-family: 'Secular One', sans-serif;
	color: #000080;
}



a:hover {
	
	text-decoration: none;
}



.socalText {
	color: #000080;
}

.pictures {
	border-radius: 5px;
}

.reward {
	color: red;
}

.membership {
	
}

.headline {
	font-family: 'Secular One', sans-serif;
	color: #000080;
}

.bubble {
	background-color: #C0C0C0;
	border-radius: 5px;
	color: #000080;
	font-family: 'Secular One', sans-serif;
}



.rights {
	background-color: #7A8BA3;
	color: white;
	font-family: 'Secular One', sans-serif;
}

.navbar {
	margin-bottom: 0;
}

.names {
	color: #337AB7;
}

.noBullet {
	list-style-type: none;
}

.footSpace {
	min-height: 100px;
}

.footBox {
	font-family: 'Secular One', sans-serif;
	color: #000080;
	padding-top: 50px;
}

.footText {
	color: white;
}

.links {
	padding-bottom: 5px;
	padding-top: 5px;
}

.buttonSpace {
	margin-bottom: 10px;
}

.displays {
	display: none;
}

.displays.active {
	display: block;
}

.description {
	color: black;

}

.title {
	color: black;
}