{% include 'head.html' %}
{% include 'navbar.html' %}



<body>

<h1 class="socalText text-center">Directory</h1>

<div class="container-fluid">
	<div class="row">
		<div class="bubble col-xs-10 col-xs-offset-1">
			<h2>Board of Directors</h2>
				<ul>
					<li>President: Jay Kelly</li>
					<li>Vice President: John Polen</li>
					<li>Treasurer: Ron Deisler</li>
					<li>Director: Mike Zelenak</li>
					<li>Director: Ted Greeno</li>
					<li>Director: Wendell Hanks</li>
					<li>Director: Ed Stringham</li>
					<li>Director: Fred Tomlinson</li>
					<li>Director: Howard Maculsay</li>
					<li>Newsletter Editor:</li>
				</ul>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="bubble col-xs-10 col-xs-offset-1">
			<h2>If you need to / Contact:</h2>
				<ul>
					<li>Pay Dues, request badge, or update personal information / Ron Deisler</li>
					<li>Purchase SocalGRS club wear (shirts or jackets)         / Ron Deisler</li>
					<li>Schedule an Open House                                  / Wendell Hanks</li>
					<li>Submit an article for the newsletter                    / Joy Kuester</li>
					<li>Contact South Bay Representative                        / John Polen</li>
					<li>Make comments about the SoCalGRS website                / Howard Maculsay</li>
				</ul>
		</div>
	</div>
</div>

<br>

</body>
{% include 'footer.html' %}