{% include 'head.html' %}
{% include 'navbar.html' %}



<body>

<h1 class="socalText text-center">Directory</h1>

<div class="container-fluid">
	<div class="row">
		<div class="bubble col-xs-8 col-xs-offset-2">
			<h2>Board of Directors</h2>
				<ul>
					<li>President: <span class="names">Jay Kelly</span></li>
					<li>Vice President: <span class="names">John Polen</span></li>
					<li>Treasurer: <span class="names">Ron Deisler</span></li>
					<li>Director: <span class="names">Mike Zelenak</span></li>
					<li>Director: <span class="names">Ted Greeno</span></li>
					<li>Director: <span class="names">Wendell Hanks</span></li>
					<li>Director: <span class="names">Ed Stringham</span></li>
					<li>Director: <span class="names">Fred Tomlinson</span></li>
					<li>Director: <span class="names">Howard Maculsay</span></li>
					<li>Newsletter Editor:</li>
				</ul>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="bubble col-xs-8 col-xs-offset-2">
			<h2>If you need to / <span class="names">Contact</span></h2>
				<ul>
					<li>Pay Dues, request badge, or update personal information / <span class="names">Ron Deisler</span></li>
					<li>Purchase SocalGRS club wear (shirts or jackets)         / <span class="names">Ron Deisler</span></li>
					<li>Schedule an Open House                                  / <span class="names">Wendell Hanks</span></li>
					<li>Submit an article for the newsletter                    / <span class="names">Joy Kuester</span></li>
					<li>Contact South Bay Representative                        / <span class="names">John Polen</span></li>
					<li>Make comments about the SoCalGRS website                / <span class="names">Howard Maculsay</span></li>
				</ul>
		</div>
	</div>
</div>

<br>

</body>
{% include 'footer.html' %}