



<body>

{% include 'head.html' %}
{% include 'navbar.html' %}

<h1 class="text-center">Events and Open Houses</h1>

<div class="container-fluid">
	<div class="row">
		<div class="bubble col-xs-8 col-xs-offset-2">
			<h4 class="text-center">Event Calendar</h4>
			<h5>Railroad Days</h5>
			<ul class="noBullet">
				<li>Date: May 6 & 7, 2017</li>
				<li>Location: Fullerton Railroad Station</li>
				<li>Time: 9am to 5pm</li>
				<li>More info at: <a href="http://www.fullertontrainmuseum.org/railroad-days/">Fullerton Train Museum</a></li>
			</ul>
			
			
		</div>
	</div>
</div>
<br>



{% include 'footer.html' %}
</body>
