{% include 'head.html' %}
<body>

{% include 'navbar.html' %}

<h1 class="text-center">Events and Open Houses</h1>

{% for event in events %}
<div class="container-fluid">
	<div class="row">
		<div class="bubble col-xs-8 col-xs-offset-2">
			<h4 class="text-center">{{event.title}}</h4>
			<ul class="noBullet">
				<li>{{event.date}}</li>
				<li>{{event.location}}</li>
				<li>{{event.time}}</li>
				<li>{{event.description}}</li>
				<li><a href="{{event.link}}" target="_blank">{{event.link}}</a></li>
			</ul>			
		</div>
	</div>
</div>
<br>
{% endfor %}








{% include 'footer.html' %}
</body>
