

<div class="text-center container-fluid">
	<div class="row">
	    <div class="col-xs-4">
	    	<li><a href="#">SoCal G0guage Retailers</a></li>
	    </div>
	    <div class="col-xs-4">
	    	<li><a href="#">Favorite G-guage forum websites</a></li>
	    </div>
	    <div class="col-xs-4">
	    	<li><a href="#">Website comments welcomed</a></li>
	    </div>
	 </div>
</div>


<div class="container-fluid">
	<div class="row">
		<p class="rights text-center">2016 SoCalGRS. All rights reserved.</p>
	</div>
</div>