
{% include 'head.html' %}
<body>
{% include 'navbar.html' %}

<h1 class="text-center">Garden Railways</h1>

<div>
	<img class="pictures img-responsive center-block" src="/static/images/Kelly007.jpg">
</div>	
<br>

<div class="container-fluid"">
	<div class="row text-center">
		<div class="bubble col-xs-8 col-xs-offset-2">
			<h3 class="text-center">Photographs of Member Garden Layouts</h3>
				{% for railway in railways %}
					{% if railway.category == 'garden' %}
						<button type="button" data-id="{{railway.id}}" class="btn btn-primary btn-group buttonSpace"><!--<a href="/gardenRailways/{{railway.id}}/">-->{{railway.title}}</button>
					{% endif %}
	        	{% endfor %}
	    </div>
	</div><br>

	<div class="row text-center">
		<div class="bubble col-xs-8 col-xs-offset-2">
			<h3 class="text-center">Photographs of Public Displays</h3>
				{% for railway in railways %}
					{% if railway.category == 'public' %}
						<button type="button" data-id="{{railway.id}}" class="btn btn-primary btn-group buttonSpace"><a href="/gardenRailways/{{railway.id}}/">{{railway.title}}</button>
					{% endif %}
	        	{% endfor %}
	    </div>
	</div>
</div>
<br>


{% for railway in railways %}
	<div>
		{% for railwayimage in railway.images %}
		<img class="pictures img-responsive center-block" src="{{railwayimage.display_image}}" data-tag="{{layout.tag}}">
	{% endfor %}
	</div>
	
{% endfor %}










<br>
{% include 'footer.html' %}
</body>
</html>

