

{% include 'head.html' %}
{% include 'navbar.html' %}



<body>

<div class="container-fluid">
	<div class="row">
		<div class="whoAreWe col-xs-5 col-xs-offset-1">
			<p>Who are we?</p>
			<p>We are Southern Californians who share a passion for railroading, especially G-gauge Garden Railways.</p>
			<p>Some of our members have more than 25 years experience in building garden railways for both public displays and private residences.</p>
			<p>We also have relative new-comers to the hobby who are just planning their own garden railways.</p>
			<p>SoCalGRS holds many open houses each year to showcase member layouts and to encourage others to get involved.</p>
			<p>We are always looking for new members to share in the great hobby of garden railroading § See Membership page for more details.</p>
		</div>
		<div class="col-xs-5">
			<img class="pictures img-responsive" src="static/images/Clarkson-9d.gif">
		</div>
	</div>
	<div class="row">
		<div class="whoAreWe col-xs-5 col-xs-offset-1">
			<h6>Upcoming Events</h6>
				<ul>
					<li>Fullerton Station "Railroad Days</li>
					<li>33rd Garden Railway Convention</li>
				</ul>
		</div>
	</div>
</div>

</body>

{% include 'footer.html' %}

</html>

