





<body>

{% include 'head.html' %}
{% include 'navbar.html' %}

	<div class="container-fluid">
		<div class="row">
			<div>
				<img class="pictures img-responsive center-block" src="static/images/Clarkson-9d.gif">
			</div>
		</div>

		<br>

		<div class="row">
			<div class="bubble col-xs-8 col-xs-offset-2">
				<p class="para-space">Who are we?</p>
				<p>We are Southern Californians who share a passion for railroading, especially G-gauge Garden Railways.</p>
				<p>Some of our members have more than 25 years experience in building garden railways for both public displays and private residences.</p>
				<p>We also have relative new-comers to the hobby who are just planning their own garden railways.</p>
				<p>SoCalGRS holds many open houses each year to showcase member layouts and to encourage others to get involved.</p>
				<p>We are always looking for new members to share in the great hobby of garden railroading. See <a href="#" class="membership">Membership</a> page for more details.</p>
			</div>
		</div>
		
		<br>

		
		<div class="row">
			<div class="bubble col-xs-8 col-xs-offset-2">
				<a class="events-link" href="events">
				<h4>Upcoming Events</h4>
					<ul>
						{% for event in events %}
							<li>{{event.title}}</li>
						{% endfor %}
					</ul>
				</a>
			</div>
		</div>
		





		<br>

		<div class="row">
			<div class="bubble col-xs-8 col-xs-offset-2">
				<p class="para-space">For those who have a Garden Railroad, we encourage you to hold an Open House...call Wendell Hanks (562 943-2721) when you are ready to schedule yours and <span class="reward">get a $50 reward.</span></p>
			</div>
		</div>
	</div>

{% include 'footer.html' %}

</body>



</html>

