



<body>

{% include 'head.html' %}
{% include 'navbar.html' %}

<img class="pictures img-responsive center-block" src="/static/images/soccolor.gif">
<br>

<div class="container-fluid">
	<div class="row">
		<div class="bubble col-xs-8 col-xs-offset-2">
			<h4 class="text-center">Membership Information</h4>
			<h5>Benefits of becoming a member:</h5>
			<ul>
				<li>Sharing Expertise</li>
				<li>Family membership</li>
				<li>SoCalGRS badges</li>
				<li>Newsletters & archive</li>
				<li>Event Participation</li>
				<li>Frequent Member Garden Railroad Open Houses</li>
				<li>Periodic Technical Clinics</li>
			</ul>
		</div>
	</div>
</div>
<br>

<div class="container-fluid">
	<div class="row">
		<div class="bubble col-xs-8 col-xs-offset-2">
			<h4 class="text-center">To become a member of SoCalGRS, follow the three simple steps outlined below:</h4>
			<ol>
				<li>Print out an application form</li>
				<li>Fill in the requested information on the form</li>
				<li>Mail completed application form and check to Ron Deisler, Treasurer of SoCalGRS (address is shown on application form)</li>
			</ol>
		</div>
	</div>
</div>
<br>

<div class="container-fluid">
	<div class="row">
		<div class="bubble col-xs-8 col-xs-offset-2">
			<h4 class="text-center">Membership Renewal...it's never too late.</h4>
			<ul>
				<li>Print out a Renewal Form and follow #s 2 & 3 above.</li>
			</ul>
		</div>
	</div>
</div>
<br>

{% include 'footer.html' %}
</body>

