<div class="container-fluid">
	<div class="row"> <!-- Banner -->
		<div class="banner text-center container-fluid">
			<h1>SOUTHERN CALIFORNIA GARDEN RAILWAY SOCIETY</h1>
		</div>
	</div>
</div>

<nav class="navBox text-center navbar navbar-light bg-faded">
  <form class="form-inline">
    <a href="/"><button class="btn btn-outline-success buttonSpace" type="button">Home</button></a>
    <a href="/welcome"><button class="btn btn-outline-success buttonSpace" type="button">Welcome</button></a>
    <a href="/gardenRailways"><button class="btn btn-outline-success buttonSpace" type="button">Garden Railways</button></a>
    <a href="/directory"><button class="btn btn-outline-success buttonSpace" type="button">Directory</button></a>
    <a href="/contact"><button class="btn btn-outline-success buttonSpace" type="button">Contact Us</button></a>
    <a href="/membership"><button class="btn btn-outline-success buttonSpace" type="button">Membership</button></a>
    <a href="/events"><button class="btn btn-outline-success buttonSpace" type="button">Events/Open Houses</button></a>
    <a href="/newsletters"><button class="btn btn-outline-success buttonSpace" type="button">Newsletters</button></a>
  </form>
</nav>




