<div class="container-fluid">
	<div class="row"> <!-- Banner -->
		<div class="banner text-center container-fluid">
			<h1>SOUTHERN CALIFORNIA GARDEN RAILWAY SOCIETY</h1>
		</div>
	</div>
</div>

<nav class="navBox text-center navbar navbar-light bg-faded">
  <form class="form-inline">
    <a href="/"><button class="btn btn-outline-success" type="button">Home</button></a>
    <a href="/welcome"><button class="btn btn-outline-success" type="button">Welcome</button></a>
    <button class="btn btn-outline-success" type="button">Garden Railways</button>
    <button class="btn btn-outline-success" type="button">Directory</button>
    <button class="btn btn-outline-success" type="button">Contact Us</button>
    <button class="btn btn-outline-success" type="button">Membership</button>
    <button class="btn btn-outline-success" type="button">Events/Open Houses</button>
    <button class="btn btn-outline-success" type="button">Newsletters</button>
  </form>
</nav>




