<div class="container-fluid">
	<div class="row"> <!-- Banner -->
		<div class="banner text-center container-fluid">
			<h1>SOUTHERN CALIFORNIA GARDEN RAILWAY SOCIETY</h1>
		</div>
	</div>
</div>

<nav class="banner text-center navbar navbar-light bg-faded">
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button">Main button</button>
    <button class="btn btn-outline-success" type="button">Main button</button>
    <button class="btn btn-outline-success" type="button">Main button</button>
    <button class="btn btn-outline-success" type="button">Main button</button>
    <button class="btn btn-outline-success" type="button">Main button</button>
    <button class="btn btn-outline-success" type="button">Main button</button>
    <button class="btn btn-outline-success" type="button">Main button</button>
    <button class="btn btn-outline-success" type="button">Main button</button>
  </form>
</nav>




