{% include 'head.html' %}
{% include 'navbar.html' %}

<body>

<div class="container-fluid">
	<div class="row">
		<div class="bubble col-xs-8 col-xs-offset-2 text-center">
			<h4>Welcome to Southern California Garden Railway Society</h4>
			
			<p>The Southern California Garden Railway Society was established in 1986, and now has over 100 family memberships in Los Angeles, Orange, Riverside, and San Bernardino Counties.</p>

			<p>SoCalGRS promotes public interest in large-scale model railroading, both inside and outdoors, in the greater Southern California area through member gatherings, a monthly newsletter and workshops on various aspects of the garden railroading hobby.</p>

			<p>All SoCalGRS activities promote friendship among people having similar interests.</p>

			<p>A key activity of SoCalGRS is the sponsorship of monthly garden railroad open houses, showcasing operational garden railroads where members exchange ideas on railroad construction and operation.</p>

			<p>SoCalGRS members continue to play significant roles in the development and maintenance of permanent G-gauge public garden railroads, such as the large exhibit at The Living Desert in Palm Desert.  Our Society also provides temporary exhibits for various venues around Southern California.</p>

			<p>We are enthusiastic, and dedicated to the hobby of garden railroading. We encourage all prospective garden railroaders to join our organization.</p> 
		</div>
	</div>
</div>

<br>


</body>
{% include 'footer.html' %}
